body  {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    }

    .profile { 
        border-radius: 50px;

        }

        #welcome {
            position: absolute;
            bottom: 0;
            background: linear-gradient(#000000 0%, #FF69B4 100%);
            display: table;
            width: 100%;
            height: 100%;
            }

            h1 {

                font-size: 40px;
                font-family: 'Zeyada', cursive;
                font-weight: 300;

                }

                #name {
                    font-size: 50px;
                    font-family:'Poppins', sans-serif;
                    }

                    h2 { 
                        font-size: 30px;
                        font-weight: 300;
                        font-family: 'Comfortaa', cursive;
                        }

                        #bio {
                            font-family: 'Source Code Pro', monospace;
                            padding: 50px;
                            }
                        .line {
                            height: 5px;
                            background-color: hotpink;
                            width: 90px;
                            margin: 8px auto;
                            }
                        .parallax-inner {
                            
                            display: table-cell;
                            vertical-align: middle;
                         }
                         .menu {
                            position: fixed;
                            background: lightpink;
                            width: 100px;
                            margin-top: 100%;
                            top: 0px;
                            z-index: 10;
                          }
                          
                          .links {
                            display: inline;
                            padding-left: 33px;
                            padding-right: 25px;
                            font-family: 'Inter', sans-serif;
                            font-size: 20px;
                          }

                          .link:hover {
                            font-size: 25px;
                            text-decoration: underline;
                            }
                        
                            a {
                                text-decoration: none;
                            }

                            #contact {
                                background: pink;
                            }

                            #contact iframe {
                                width: 100%;
                            }

                            .contact_1 h3 
                            { 
                                display: inline; 
                            }    